
img {
    width: 100%;
    max-width: 200px;
}

#root {
    background-color: #0A3342;
    min-height: 100vh;
}

.container {
    max-width: 1035px;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    padding: 20px;
    margin: 0 auto;
    background-color: #BEC9DF;
    min-height: 100vh;
}

.search {
    height: 50px;
    font-size: 30px;
    width: 100%;
    max-width: 350px;
}

h1 {
    color: black;
}

main {
    display: flex;
    flex-wrap: wrap;
}

form {
    display: flex;
    margin-bottom: 20px;
    margin-top: 20px;
}

form button {
    height: 50px;
    width: 50px;
}

.movie-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.movie-list h2 {
    width: 100%;
}

.movie-list a {
    display: inherit;
    color: black;
}

.list {
    max-width: 200px;
    background-color: #94A3B8;
    border: 2px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
}